.waterfall {
  /* Adjust this for the number of columns you want */
  column-count: 3;
  column-gap: 15px;
}

/* For medium-sized screens */
@media (min-width: 768px) and (max-width: 991.98px) {
  .waterfall {
    column-count: 2; /* 2 columns for medium screens */
  }
}

/* For small screens */
@media (max-width: 767.98px) {
  .waterfall {
    column-count: 1; /* 1 column for small screens */
  }
}

.waterfall li {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  transition: transform 0.2s ease;
  break-inside: avoid;
}

.waterfall img:hover {
  transform: scale(1.05);
}
